
/*  
for the background we will be using a linear gradient model for green
the different numbers are basically when the linear color changes


*/

/*
We will be using the background div to make sure it shows
*/


@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');



.background
{
  position: relative;
  height: 100vh;/*minimum height*/
  min-width: 100vh;/*minimum width*/
  flex: 1;/*makes it nice and flexible*/
  display: flex;/*let the flex commence*/

background: linear-gradient(180deg, #061210 4.69%, #0D2520 23.44%, #032D22 35.94%, #061210 92.71%);
}

.name
{
position: absolute;
width: 219px;
height: 26px;
left: 3px;
top: 20px;

font-family: Coda;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 28px;
text-align: center;
letter-spacing: 0.05em;

color: #94CFC1;
}


.name1
{
position: absolute;
width: 601px;
height: 49px;
left: 277px;
top: 118px;

font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 60px;
letter-spacing: 0.05em;

color: #94CFC1;
}


.firstphone
{

position: absolute;
width: 225px;
height: 455px;
left: 295px;
top: 220px;
animation: fade-in duration timing-function delay iteration-count direction fill-mode;

background: url(./stonkpics/learn_phone.png);
border-radius: 30px;
-webkit-animation: fade-in-top 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;


}

.detail1
{
position: absolute;
width: 332px;
height: 75px;
left: 541px;
top: 193px;

font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.05em;

color: #94CFC1;
}




@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&display=swap');

