
/*  
for the background we will be using a linear gradient model for green
the different numbers are basically when the linear color changes


*/

/*
We will be using the background div to make sure it shows
*/


@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');



.background
{
  position: relative;
  height: 1000vh;/*minimum height*/
  min-width: 250vh;/*minimum width*/
  flex: 1;/*makes it nice and flexible*/
  display: flex;/*let the flex commence*/
  

background: linear-gradient(180deg, #061210 4.69%, #0D2520 23.44%, #032D22 35.94%, #061210 92.71%);
}



.missionstatement
{
position: absolute;
width: 285px;
height: 112px;
left: 541px;
top: 463px;
}


.containerstasche
{
position: absolute;
width: 60px;
height: 36px;
left: 198px;
top: 15px;

background: url(./stonkpics/logo.png);
}


.missiondetail
{
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* or 175% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #BCEADF;
}

.name
{
position: absolute;
width: 219px;
height: 26px;
left: 3px;
top: 20px;

font-family: Coda;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 28px;
text-align: center;
letter-spacing: 0.05em;

color: #94CFC1;
}


.name1
{
position: absolute;
width: 601px;
height: 49px;
left: 277px;
top: 118px;

font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 42px;
line-height: 60px;
letter-spacing: 0.05em;

color: #94CFC1;
}


.firstphone
{

position: absolute;
width: 225px;
height: 455px;
left: 295px;
top: 220px;
animation: fade-in duration timing-function delay iteration-count direction fill-mode;

background: url(./stonkpics/pitch_phone.png);
border-radius: 30px;
-webkit-animation: fade-in-top 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;


}

.detail1
{
position: absolute;
width: 332px;
height: 75px;
left: 541px;
top: 193px;

font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
letter-spacing: 0.05em;

color: #94CFC1;
}



.Retanglearoundphone
{
position: relative;
top: 400px;
width: 599px;
height: 253px;
left: 261px;


background: rgba(59, 97, 88, 0.85);
border: 0.25px solid #72A599;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;






}



.informbutton
{

position: absolute;
width: 170px;
height: 45px;
left: 599px;
top: 575px;

background: #09201B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.informme
{
  position: absolute;
width: 136px;
height: 17px;
left: 616px;
top: 589px;

font-family: Coda;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #94CFC1;


}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&display=swap');




.missionbar
{
position: absolute;
width: 1300px;
height: 764px;
left: 0px;
top: 728px;

background: #061210;
}


.missionhead
{



font-family: Coda;
font-style: normal;
font-weight: 800;
font-size: 28px;
line-height: 40px;
text-align: center;
letter-spacing: 0.05em;

color: #94CFC1;
}

.missioncontainter
{
  align-items: center;
}
.missionparagraph
{
 
  
  font-family: Coda;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  
  letter-spacing: 0.05em;
  
  color: #94CFC1;
}